<!DOCTYPE html>
<html>

<head>

    <title>Manager Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="login-container">

    <h1>Task Management System</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="success-message">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST">

        <label>Manager ID</label>

        <input
            type="number"
            name="manager_id"
            placeholder="Enter Manager ID"
            required
        >

        <label>Password</label>

        <input
            type="password"
            name="password"
            placeholder="Enter Password"
            required
     >

        <button type="submit">Login</button>

    </form>

</div>

{% if logout_success %}
<script>
    alert("Logged out successfully.");
</script>
{% endif %}

</body>

</html>